This notebook was prepared by [Shreyas Kumbhar](). Source and license info is on [GitHub](https://github.com/shreyask98/Python/blob/main/LICENSE).

- suppose note book hang -- click kernal then -- restart

### Mathematical function

In [3]:
10 + 4

14

In [4]:
10 - 9

1

In [5]:
10 /2

5.0

In [6]:
10 * 2

20

In [7]:
10 //4  #quotient

2

In [8]:
10 % 7 # remainder

3

In [9]:
10 ** 2

100

In [10]:
36 ** .5

6.0

### Pyhton is case sensitive

In [11]:
a =25    # assign value 25 to a variable a

In [12]:
a

25

In [13]:
a = 123

In [14]:
a

123

In [15]:
a = "pune"

In [16]:
a

'pune'

### type

In [17]:
print(type(a))

<class 'str'>

In [18]:
b = 10 
c = 20 
d = 30

In [19]:
print(b)
print(c)
print(d)

10
20
30

In [20]:
name = "bob"
salary = 250000

In [21]:
print("Name of the person is:" ,name,"and his salary is ", salary )

Name of the person is: bob and his salary is  250000

In [22]:
var =12131
var

12131

var = 100
var

In [23]:
del(var)

In [24]:
# var

## Variables or Datatypes  
<ol>
  <li>tuple</li>
  <li>list</li>
  <li>dictionary</li>
  <li>set</li>
</ol>  

</ul>
    <li>() is for tuple  </li>
    <li>[] is for list </li>
    <li>{} is for dictionary</li>
    <li>{} is for set</li>
</ul>

* Tuple is collection of data in a single dimension  which can be mixed type and it is IMUTABLE 
* IMUTABLE= it cannot be changed

In [25]:
tup1 = (10,20,30,56,"june","may")

In [26]:
type(tup1)

tuple

In [27]:
len(tup1) # how many records/elements

6

In [94]:
tup1[4]   # access element by index

'june'

In [95]:
tup2 = (5,6,7,8,5,5,5,8,20, "india","class","india" )

In [96]:
len(tup2)

12

In [97]:
type(tup2)

tuple

In [32]:
tup2.count(5)

4

In [33]:
tup2.index("india")

9

In [34]:
# IMUTABLE  it cannot be changed (u can not be add a records u can  not delete a element)

In [35]:
# List is collection of data in a single dimension  which can be mixed type and it is MUTABLE 
# MUTABLE= it can be changed

In [36]:
t4 = [5,6,7,8,5,5,5,8,20, "india","class","india" ]

In [37]:
type(t4)

list

In [38]:
t4.append("america")

In [39]:
print(t4)

[5, 6, 7, 8, 5, 5, 5, 8, 20, 'india', 'class', 'india', 'america']

In [40]:
len(t4)

13

In [41]:
t5 =[3,4,5,7,89,4,7,"doller","ruppes"]

In [42]:
print(t5)

[3, 4, 5, 7, 89, 4, 7, 'doller', 'ruppes']

In [43]:
t5.append("ruppes")

In [44]:
t5

[3, 4, 5, 7, 89, 4, 7, 'doller', 'ruppes', 'ruppes']

In [45]:
t5.count(4)

2

In [46]:
t5.insert(4,30) # what do want to add , and at what position

In [47]:
t5

[3, 4, 5, 7, 30, 89, 4, 7, 'doller', 'ruppes', 'ruppes']

In [48]:
t5.pop()
t5.pop(1)

4

In [49]:
t5

[3, 5, 7, 30, 89, 4, 7, 'doller', 'ruppes']

In [50]:
l1 = ["a","b","c","d"]

In [51]:
l1.clear()

In [52]:
l1

[]

In [53]:
l2 = [1,23,3,4,5]

In [54]:
l2.reverse()
l2

[5, 4, 3, 23, 1]

In [55]:
l2.sort(reverse = True)
l2

[23, 5, 4, 3, 1]

In [56]:
l4 = [5,3,2,20]

In [57]:
l2.extend(l4)
l2

[23, 5, 4, 3, 1, 5, 3, 2, 20]

## Dictionaries
1. is used to store data in key value format and dict can be used to create the data frame

In [59]:
d1 = {'name':'mra', 'salary': 2134}

In [60]:
d1.keys()

dict_keys(['name', 'salary'])

In [61]:
d1.values()

dict_values(['mra', 2134])

In [62]:
d2 = {'emp_name':("mra","cra","dra","fsd","asd"),
      "age":(31,25,23,34,21),
     "salary":(2112,123,1232,2312,12142)}

In [63]:
d2.keys()

dict_keys(['emp_name', 'age', 'salary'])

In [64]:
d2.values()

dict_values([('mra', 'cra', 'dra', 'fsd', 'asd'), (31, 25, 23, 34, 21), (2112, 123, 1232, 2312, 12142)])

In [65]:
d2 #into a table (rows and columns)

{'emp_name': ('mra', 'cra', 'dra', 'fsd', 'asd'),
 'age': (31, 25, 23, 34, 21),
 'salary': (2112, 123, 1232, 2312, 12142)}

## Pandas

In [66]:
import pandas as pd

In [67]:
em_data = pd.DataFrame(d2)

In [68]:
em_data

  emp_name  age  salary
0      mra   31    2112
1      cra   25     123
2      dra   23    1232
3      fsd   34    2312
4      asd   21   12142

In [69]:
type(em_data)

pandas.core.frame.DataFrame

# Set 
1. set is reprenstation of data in one dim , which cannot be duplicate (it has to be unique)
2. indexing cannot be performed on SET

In [71]:
s1 = set([3,3,54,43,23])

In [72]:
type(s1)

set

In [73]:
s1

{3, 23, 43, 54}

# .fromat printing

In [74]:
name = "mohan"
sal = 23212
print("name of the person : {} and his sal is {}" .format(name,sal))

name of the person : mohan and his sal is 23212

In [75]:
name = "mohan"
sal = 23212
print("name of the person : {0} and his sal is {0}" .format(name,sal))

name of the person : mohan and his sal is mohan

In [76]:
name = "mohan"
sal = 23212
print("name of the person : {} and his sal is {} is greter than {}" .format(name,sal))

IndexError: Replacement index 2 out of range for positional args tuple

In [77]:
name = "mohan"
sal = 23212
print("name of the person : {} and his sal is {} is greter than {}" .format(name,sal,sal))

name of the person : mohan and his sal is 23212 is greter than 23212

In [78]:
city = "pune"

In [79]:
type(city)

str

In [80]:
city.capitalize()

'Pune'

In [81]:
city.upper()

'PUNE'

In [82]:
city =  city.upper()

In [83]:
city

'PUNE'

In [84]:
l6 = [1,3,3,2,2]

In [85]:
l6.append(12)  # inplace

In [86]:
l6 = l6.append(12) # data vanished

In [87]:
l6

In [88]:
c1 ='mumbai'

In [89]:
c1.lower()

'mumbai'

* Python is an interpreted, interactive, object-oriented programming language
* every thing is an object ,object is created first based on type of object function  / method are attached to it

#### Create a class named Person, use the __init__() function to assign values for name and age:

In [91]:
class Car :
    def __init__(self, color, speed):
        self.color = color
        self.speed = speed
car = Car('red','100mph')
print(car.speed)
print(car.color)
#=> '100mph'

100mph
red