This notebook was prepared by [Shreyas Kumbhar](). Source and license info is on [GitHub](https://github.com/shreyask98/Python/blob/main/LICENSE).


# Take input from user

In [7]:
var1 =(input("Enter the value you want to pass: ")) 
#input will always store the data in str format

Enter the value you want to pass: 34

In [8]:
var1

34

In [9]:
type(var1)

int

In [14]:
var2 = eval(input("Enter the value you eant to pass"))
# eval will preserve the data type given by  user

Enter the value you eant to pass34.5

In [17]:
var2

34.5

In [16]:
var2 + 3

37.5

In [18]:
var3 = int(input("Enter the value you eant to pass"))

Enter the value you eant to pass23

In [19]:
var3

23

In [20]:
type(var3)

int

In [24]:
a= 9 # u assign value 10 to a

In [25]:
a>= 10

False

In [26]:
a<= 10

True

In [27]:
# lets write a code to check if the number is greater than or eqal to 10

In [37]:
num = eval((input("Enter the Number ")))
if num >10: 
    print("number is greter than 10")
    print("number is :", num)
elif num ==10:
    print("number is equal to 10")
    print("number is :", num)
else:
    print("number is small than 10")
    print("number is :", num)

Enter the Number 10.4
number is greter than 10
number is : 10.4

In [3]:
# write a code to check if the number is even or odd 
num = eval((input("Enter the Number ")))
if (num % 2) == 0: 
    print("number is even")
    print("number is :", num)
else:
    print("number is odd")
    print("number is :", num)

Enter the Number 5
number is odd
number is : 5

In [10]:
# lets now to cehck multiple condition 
city =input("Enter the City name ")

if city == "mumbai":
    print("it is financial cap of india")
    print("it has bollywood")
elif city == "delhi":
    print("it is a cap of india ")
    print("it in northan part of country")
elif city == "pune":
    print("has many collages")
    print("it is good city")
elif city == "banglore":
    print("it is an it hub")
    print("has many start ups")
else:
    print("city does not part of our data")

Enter the City name Mumbai
city does not part of our data

In [15]:
num =2
while num <=50:
    
    print(" even number ",num)
    num = num + 2
    
# when creating the while loop user needs to give a condition so that it comes out of for loop

 even number  2
 even number  4
 even number  6
 even number  8
 even number  10
 even number  12
 even number  14
 even number  16
 even number  18
 even number  20
 even number  22
 even number  24
 even number  26
 even number  28
 even number  30
 even number  32
 even number  34
 even number  36
 even number  38
 even number  40
 even number  42
 even number  44
 even number  46
 even number  48
 even number  50

In [20]:
# write a program which create 2 list 
# first list contain all even numbers  (1 to 100)
# 2 nd list contain all odd number (1 to 100)

l1 =[]
l2 =[]
num =1
while num <=100:
    if (num % 2) == 0:
        l1.append(num)
    else:
        l2.append(num)
    num = num +1

print(l1)
print(l2)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [21]:
# for loop

In [28]:
exam = [10,20,2,3,4,32,21,34,45,28]

In [30]:
# requirement is to seperate the even numbers and the odd numbers
even = []
odd = []
for i in exam:
    for i in exam:
        if (i % 2) == 0:
            even.append(i)
        else:
            odd.append(i)

In [35]:
even = set(even)
even

{2, 4, 10, 20, 28, 32, 34}

In [36]:
odd = set(odd)
odd

{3, 21, 45}

In [46]:
num = int((input("Enter the Number ")))
factorial =1
for i in range(1,num + 1):
       factorial = factorial*i
print("The factorial of",num,"is",factorial)

Enter the Number 10
The factorial of 10 is 3628800

In [59]:
num=int(input("enter the number"))
fact = 1
i = 1
while i<=num:
    fact = fact * i
    i = i + 1
print("factorial of ",num,"is",f)

enter the number5
factorial of  5 is 2

In [16]:
var2 =  "abcdefgh"

In [17]:
var2[3:6]

'def'

In [18]:
var2[6]

'g'

In [19]:
# write a code takes input from user
# and check if the string is palindrome

In [21]:
n = (input("enter the value:"))
if  n[::-1] == n :
    
        print("string is palindrome")
        
else:
        print("string is not palindrome")

enter the value:malayalam
string is palindrome

In [75]:
# write a program which will check if number is prime number or not
# a number that is divisible only by itself and 1 (e.g. 2, 3, 5, 7, 11)

num =int(input("enter the num"))
# If given number is greater than 1
if num > 1:

        # Iterate from 2 to n / 2
        for i in range(2, int(num/2)+1):

            # If num is divisible by any number between
            # 2 and n / 2, it is not prime
            if (num % i) == 0:
                print(num, "is not a prime number")
                break
        else:
            print(num, "is a prime number")

else:
        print(num, "is not a prime number")

enter the num1
1 is not a prime number

In [5]:
# write a program which will check if number is prime number or not
# a number that is divisible only by itself and 1 (e.g. 2, 3, 5, 7, 11)

num =int(input("enter the num")) 
if num > 1:
        for i in range(2, int(num/2)+1):
            if (num % i) == 0:
                print(num, "is not a prime number")
                break
        else:
            print(num, "is a prime number")

else:
    print(num, "is not a prime number")

enter the num12
12 is not a prime number

In [6]:
range(2, int(4/2) +1)

range(2, 3)